[General]
nombre_dataset = dataset

[Descarga]
num_dias = 3
fecha_inicio = 2022/07/24
fecha_final  = 2022/07/26
hora_inicio_utc  = 00:00
hora_final_utc   = 23:59
saltear_archivos = 2

[Bandas]
bandas  = 4,6,8,9,10,13,14,16,CM,CTH,CAPE,COD,Altura
ventana = 18

[Resolucion Km]
reescalado = 2

[Ubicaciones]
limite_inferior_latitud  = 18.1
limite_superior_latitud  = 29.08
limite_inferior_longitud = -108.7
limite_superior_longitud = -88.5
resolucion_grid = 15

