[General]
nombre_dataset = dataset_bajio

[Descarga]
num_dias = 3
fecha_inicio = 2022/07/24
fecha_final  = 2022/07/26
hora_inicio_utc  = 00:00
hora_final_utc   = 23:59
saltear_archivos = 2

[Bandas]
bandas  = 4,6,8,9,10,14,16,CM,CTH,CAPE,COD,CTP,DSR,Altura
ventana = 18

[Resolucion Km]
reescalado = 2

[Ubicaciones]
limite_inferior_latitud  = 19.80
limite_superior_latitud  = 21.81
limite_inferior_longitud = -102.18
limite_superior_longitud = -99.00
resolucion_grid = 30

